name: Mirror to Codeberg

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Mirror to Codeberg
        run: |
          git remote add codeberg https://${{ secrets.CODEBERG_TOKEN }}@codeberg.org/Anonomi/anonomi-postbox.git
          git push --mirror codeberg
